<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test Ajax</title>
    <link rel="stylesheet" href="/test/ajax.css">
    <script src="/test/ajax.js"></script>
</head>

<body>
    <div>
        <h1>Log Manage System</h1>
    </div>
    <div>
        <form action="">
            <input type="text" id="nameId">
            <button id="searchId" type="button">查询</button>
        </form>
        <hr>
        <table>
            <thead>
                <tr>
                    <th>id</th>
                    <th>createdTime</th>
                </tr>
            </thead>
            <tbody id="tbodyId">
                <tr>
                    <td colspan="2">data loading...</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>