<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ss.pj.sys.dao.SysUserDao">
	<!-- 定义共性sql元素 -->
	<sql id="queryWhere">
		<where>
			<if test="username!=null and username!=''">
				username like concat("%", #{username}, "%")
			</if>
		</where>
	</sql>

	<!-- 基于多个id删除日志 -->
	<delete id="deleteObjectsByIds">
		delete from sys_logs
		where id in
		<foreach collection="ids" open="(" close=")" separator=","
			item="id">
			#{id}
		</foreach>
	</delete>

	<!-- 统计记录总数 -->
	<select id="getRowCount" resultType="int">
		select count(*)
		from sys_users
		<!-- 判断username不为空且不为空串 -->
		<where>
			<if test="username!=null and username!=''">
				username like concat("%", #{username}, "%")
			</if>
		</where>
	</select>

	<!-- 查询当前页面数据 -->
	<select id="findPageObjects" resultMap="sysUserDeptVo">
		select *
		from sys_users
		<include refid="queryWhere" />
		limit #{startIndex}, #{pageSize}
	</select>

	<resultMap type="com.ss.pj.sys.vo.SysUserDeptVo"
		id="sysUserDeptVo">
		<!-- 关联查询 -->
		<association property="sysDept" column="deptId"
			select="com.ss.pj.sys.dao.SysDeptDao.findById">
		</association>
	</resultMap>

	<!-- 禁用启动 -->
	<update id="validById">
		update sys_users
		set valid=#{valid},
		modifiedUser=#{modifiedUser}, modifiedTime=now()
		where id=#{id}
	</update>

	<!-- 插入数据 -->
	<insert id="insertObjects"
		parameterType="com.ss.pj.sys.po.SysUser" useGeneratedKeys="true"
		keyProperty="id">
		insert into sys_users
		(username,password,deptId,email,mobile,salt,valid,
		createdTime,modifiedTime,createdUser,modifiedUser)
		values
		(#{username},#{password},#{deptId},#{email},#{mobile},#{salt},#{valid},
		now(),now(),#{createdUser},#{modifiedUser})
	</insert>

	<!-- 根据id查询用户以及部门 -->
	<select id="findObjectById" resultMap="sysUserDeptVo"
		parameterType="int">
		select *
		from sys_users
		where id=#{id}
	</select>

	<!-- 更新方法 -->
	<update id="updateObject"
		parameterType="com.ss.pj.sys.po.SysUser">
		update sys_users
		<set>
			<if test="username!=null and username!=''">
				username=#{username},
			</if>
			<if test="email!=null and email!=''">
				email=#{email},
			</if>
			<if test="mobile!=null and mobile!=''">
				mobile=#{mobile},
			</if>
			<if test="deptId!=null and deptId!=''">
				deptId=#{deptId},
			</if>
			<if test="modifiedUser!=null and modifiedUser!=''">
				modifiedUser=#{modifiedUser},
			</if>
			modifiedTime=now()
		</set>
		where id=#{id}
	</update>
</mapper>